@media print {
	/* All your print styles go here */
	*,
	*::before,
	*::after {
		color: black !important;
		background: unset !important;
		font-size: 10pt !important;
		border: unset !important;
		margin: 0 !important;
		margin-inline: 0 !important;
		margin-block: 0 !important;
		padding: 0 !important;
		padding-inline: 0 !important;
		padding-block: 0 !important;
	}

	body {
		padding-inline-start: 0.5cm !important;
		padding-block-start: 0.5cm !important;
	}

	.layout {
		min-height: unset !important;
	}

	.title {
		color: black !important;
	}

	.content {
		margin-block: 0 !important;
	}

	table {
		border-inline-start: 1pt solid black !important;
		border-block-start: 1pt solid black !important;
	}

	table > thead > tr:first-child > :first-child,
	table > thead > tr:first-child > :last-child {
		border-start-start-radius: 0 !important;
		border-start-end-radius: 0 !important;
	}

	th {
		border-block-start: 1pt solid black !important;
	}

	th,
	td {
		border-bottom: 1pt solid black !important;
		border-inline-end: 1pt solid black !important;
		padding-inline: 0.2cm !important;
	}

	#header,
	#footer,
	#nav,
	.no-print {
		display: none !important;
	}

	.print-flex-100 {
		max-width: 100% !important;
		flex-basis: 100% !important;
	}

	.print-bigger {
		font-size: 1.2em !important;
	}

	.print-margin {
		margin-block: 1.5ch !important;
	}

	.print-center {
		text-align: center !important;
	}

	.print-gap {
		row-gap: 1ch !important;
	}

	.print-border {
		border: 1pt solid black !important;
	}

	.print-padding {
		padding-inline: 2ch !important;
		padding-block-end: 1ch !important;
	}

	.print-margin-end {
		margin-inline-end: 1ch !important;
	}

	.print-no-shadow {
		box-shadow: unset !important;
	}

	.print-flex-item {
		flex: 1 1 0% !important;
	}
}
