@media print {
	/* All your print styles go here */
	*,
	*::before,
	*::after {
		color: black !important;
		background: unset !important;
		font-size: 10pt !important;
		border: unset !important;
		margin: 0 !important;
		margin-inline: 0 !important;
		margin-block: 0 !important;
		padding: 0 !important;
		padding-inline: 0 !important;
		padding-block: 0 !important;
	}

	body {
		padding-inline-start: 0.5cm !important;
		padding-block-start: 0.5cm !important;
	}

	.layout {
		min-height: unset !important;
	}

	.title {
		color: black !important;
	}

	.content {
		margin-block: 0 !important;
	}

	th,
	td {
		border-bottom: 1pt solid black !important;
		border-inline-end: 1pt solid black !important;
		padding-inline: 0.2cm !important;
	}

	#header,
	#footer,
	#nav,
	.no-print {
		display: none !important;
	}

	.print-flex-100 {
		max-width: 100% !important;
		flex-basis: 100% !important;
	}

	.print-bigger {
		font-size: 12pt !important;
	}

	.print-margin {
		margin-block-end: 0.4em !important;
	}
}
